# PostgreSQL
POSTGRES_USER=nexora
POSTGRES_PASSWORD=nexora_dev_password
POSTGRES_DB=NexoraDb

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@nexora.com
PGADMIN_DEFAULT_PASSWORD=admin
# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=nexoraadmin
MINIO_ROOT_PASSWORD=nexora_minio_password

# Nexora API
API_DB_CONNECTION=Host=postgres;Port=5432;Database=NexoraDb;Username=nexora;Password=nexora_dev_password
API_REDIS_CONNECTION=redis:6379
API_MINIO_CONNECTION=http://minio:9000/minio/health/live
API_KEYCLOAK_AUTHORITY=http://keycloak:8080/realms/nexora
API_KEYCLOAK_AUDIENCE=account
API_KEYCLOAK_HEALTH=http://keycloak:8080/realms/master/.well-known/openid-configuration
API_MAILPIT_HEALTH=http://mailpit:8025/api/v1/info
