# PostgreSQL
POSTGRES_USER=nexora
POSTGRES_PASSWORD=nexora_dev_password
POSTGRES_DB=NexoraDb

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# MinIO
MINIO_ROOT_USER=nexoraadmin
MINIO_ROOT_PASSWORD=nexora_minio_password

# Nexora API
API_DB_CONNECTION=Host=postgres;Port=5432;Database=NexoraDb;Username=nexora;Password=nexora_dev_password
API_KEYCLOAK_AUTHORITY=http://keycloak:8080/realms/nexora
API_KEYCLOAK_AUDIENCE=account
